@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    background: #efeeee;
    font-family: 'Poppins', sans-serif;
}

/* .links .btn-Links {
    width: 200px;
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 20px;
    background: #607D8B;
    color: #fff;
} */

.links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-flow: row;
    grid-template-rows: minmax(50px, auto);
    gap: 16px;
}

/* boton de usuario*/
.btn {
    display: grid;
    grid-template-columns: auto 80%;
    gap: 8px;
    place-items: center;
    background: #e3edf7;
    padding: 1.4em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s;
    text-align: left;
}

.btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
}

.btn svg {
    transition: transform 0.5s;
}

.btn:hover svg {
    transform: scale(0.9);
}

/* estilos para contenedores*/
.container {
    background: #E8E8E8;
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: 2em;
    justify-content: center;
}

.content {
    max-width: 1500px;
    width: 100%;
    padding: 60px 70px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 3px 2px 11px -1px rgba(0, 0, 0, 0.28);
    text-align: center;
    min-height: 100vh;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-5{
    flex: 0 0 auto;
    width: 50%;
}
.col-12{
    flex: 0 0 auto;
    width: 100%;
}
.divisor {
    width: 100%;
    height: 1px;
    background: #9F9F9F;
    margin: 20px 0;
}

.titulos {
    color: #000;
    text-align: left;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.center{
    text-align: center;
}
.subtitulos {
    color: #000;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fecha{
    text-align: right;
}
.text {
    width: 100%;
    color: #000;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text.f600{
    font-weight: 600;
}


.info-blocks{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.info-blocks.info{
    display: flex;
    flex-direction: row;
}

.options {
    height: 0;
    opacity: 0;
    transition: all 1s linear;
}

.options.active {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin: 20px 0;
    padding: 0.5em;
    align-items: flex-start;
    height: auto;
    max-height: 1000px;
    opacity: 1;
    transition: all 1s linear;
    justify-items: center;
}

h3#NameUser {
    font-size: 20px;
    text-align: center;
}

.options-group img {
    width: 50%;
    height: auto;
    min-height: 100px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 20px 2px #0000001c;
    margin: 10px 0;
}

.options-group {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    align-items: center;
}

ul#list-options {
    width: 100%;
    list-style: none;
    padding: 0;
}


ul#list-options li {
    padding: 4px 0;
    font-weight: 400;
}

ul#list-options li span {
    font-weight: 600;
}

.content-results {
    border-left: 1px solid #9f9f9f;
    padding: 0px 20px;
    height: 100%;
    display: grid;
    width: 100%;
    grid-auto-columns: 100%;
    gap: 2px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: start;
}
.content-adicionales {
    display: flex;
    gap: 22px;
    flex-direction: column;
    justify-content: center;
}
.adicionales {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
    grid-template-rows: auto;
    gap: 20px;
}

.content-cuadro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-rows: 150px 150px;
    gap: 5px;
    height: 100%;
    align-items: center;
}
.cuadro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 0 20px 20px 0;
}
.cuadro-info p {
    margin: 0;
}

.cuadro-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}